#hero {
    background-image: url(../../assets/hero.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    min-height: 80vh;
    max-height: 80vh;
    margin: 0px 5vw;
}

.hero {
    display: flex;
    justify-content: space-around;
    min-height: 80vh;
}

.hero h4 {
    display: none;
    width: 100vw;
    text-align: center;
    background-color: #FFC86A;
    color: #000;
    padding: 10px 5vw;
}

.hero .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    color: #B5B5B5;
    text-align: center;
}

.hero .left h1 {
    font-weight: 400;
}

.hero .left h2 {
    font-weight: 200;
}

.hero .left .name {
    color: #FFC86A;
}

.hero .left .cv {
    padding: 10px 50px;
    border-radius: 8px;
    border: none;
    background-color: #FFC86A;
    font-weight: 600;
    font-size: 12px;
    border: 1px solid #343539;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    cursor: pointer;
}

.hero .left .hire {
    padding: 10px 50px;
    border-radius: 8px;
    border: none;
    background-color: #FFC86A;
    font-weight: 600;
    font-size: 12px;
    border: 1px solid #343539;
    width: 40%;
    margin-top: 25px;
    display: none;
}

.hero .left .hire:hover {
    background-color: #343539;
    border: 1px solid #FFC86A;
    transition: 0.3s ease-in;
    color: #FFC86A;
}

.hero .left .cv:hover {
    background-color: #343539;
    border: 1px solid #FFC86A;
    transition: 0.3s ease-in;
    color: #FFC86A;
}

.hero .right img {
    width: 450px;
}

.socials {
    min-height: 40vh;
}

.socials ul {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.socials ul li a {
    color: #B5B5B5;
}

.socials ul li a:hover {
    color: #fff;
    transition: 0.3s ease-in;
}

.socials ul li h4 {
    color: #FFC86A;
    text-align: end;
    font-size: 50px;
    font-weight: 400;
    cursor: default;
}


/* For tablets (landscape and portrait) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .hero {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        min-height: 90vh;
    }

    .container {
        min-height: 100vh;
        max-height: 80vh;
        margin: 0px 5vw;
    }

    .hero .left {
        align-items: center;
    }

    .hero .left .cv {
        margin-top: 25px;
        background-color: #343539;
        color: #fff;
        border: 1px solid #FFC86A;
    }

    .hero .left .hire {
        display: block;
    }
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
    .container {
        min-height: 100vh;
        max-height: 100vh;
        margin: 0;
    }

    .hero {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        width: 100vw;
    }

    .socials {
        min-height: 30vw;
    }

    .hero h4 {
        display: block;
    }

    .socials {
        width: 100vw;
    }

    .hero .left {
        align-items: center;
    }

    .hero .left .cv {
        margin-top: 25px;
        background-color: #343539;
        color: #fff;
        border: 1px solid #FFC86A;
    }

    .hero .left .hire {
        display: block;
    }
}